.beer-item {
    list-style: none;
    flex: 0 0 29.3333%;
    margin: 1% 2%;
}

.beer-item__logo {
    height: 120px;
}

.beer-item__information {
    padding: 10px;
}

.beer-item__data-container {
    background-color: #23150f;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    color: #ffffff;
    font-family: 'Sofia';
}

.action-button {
    color: #ffffff;
    text-transform: uppercase;
}

.beer-item__header {
    text-transform: uppercase;
    font-size: 1.2em;
}

.action-link {
    color: #ffffff;
    font: 10px 'Sofia';
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.beer-item-tagline {
    color: #e2c9bc;
}