.beer-data {
    color: #502311;
    font-family: 'Sofia';
}

.beer-header__container {
    display: flex;
}

.beer-logo {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.beer-item__container {
    padding: 20px;
}

.beer-main-info__container {
    padding: 20px;
    text-align: left;
}

.beer-name {
    font-size: 40px;
    font-weight: bolder;
}
