.method {
    flex: 0 0 50%;
}

.method-header {
    font-size: 40px;
    font-weight: bolder;
    padding: 20px 0;
    text-align: left;
}

.method-list-item__container {
    padding: 15px;
    text-align: left;
}

.method-category {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px; 
}

.method-list-item__container {
    padding: 15px;
}

.method-category {
    padding: 0 0 10px 0;
}