.sidebar {
    font: 20px Sofia;
    text-align: left;
}

.sidebar-header {
    color: #502311;
}

.sidebar__container {
    position: fixed;
    height: 100%;
    width: 250px;
    border-right: 1px solid #502311;
    background: #ffffff;
}

.sidebar__items-list {
    padding: 40px 0;
}

.sidebar-header__container {
    background:#ffe3da;
    padding: 10% 10% 20% 10%;
    box-shadow: 0px 8px 16px 0px rgba(80, 35, 17, 0.5);
}

.sidebar__item {
    color: #502311;
    padding: 2% 10%;
}

.sidebar-header {
    vertical-align: middle;
}

.icon-star, .icon-drawer
{
	font-family: 'menu';
	font-size: 100%;
    color: #502311;
    margin-right: .40em;
}

.icon-star:before {
	content: '\e95d';
}

.icon-drawer:before {
    content: '\e9d9';
}
