.sidebar {
    font: 20px Sofia;
    text-align: left;
}

.sidebar-header {
    color: #b4a8a4;
}

.sidebar__container {
    position: fixed;
    height: 100%;
    width: 250px;
    border-right: 1px solid #23150f;
    background: #b4a8a4;
}

.sidebar__items-list {
    padding: 40px 0;
}

.sidebar-header__container {
    background:#23150f;
    padding: 10% 10% 20% 10%;
    box-shadow: 0px 8px 16px 0px rgba(38,29,26,1);
}

.sidebar__item {
    color: #23150f;
    padding: 2% 10%;
}

.sidebar-header {
    vertical-align: middle;
}

.icon-star, .icon-drawer
{
	font-family: 'menu';
	font-size: 100%;
    color: #23150f;
    margin-right: .40em;
}

.icon-star:before {
	content: '\e95d';
}

.icon-drawer:before {
    content: '\e9d9';
}
