.main-content {
    height: calc(100% - 90px);
    background-image: url(../../images/body_background.jpg);
    background-size: cover;
    overflow: auto;
    margin-right: -100px;
    padding-right: 100px;
}

.main-content__container {
    height: calc(100% + 10px);
    padding-bottom: 10px;
}

.beers-list {
    display: flex;
    flex-wrap: wrap;
}

.error-message {
    font: 35px Sofia;
    color:#23150f;
}

.error-message__container {
    position: absolute;
    top: 50%;
    left: 35%;
}
